*.aux
*.log
*.toc
*.out
*.pdf
*.bbl
*.blg
*.gz
*.swp
*.eps
*.nav
*.snm
*.bcf
*.fls
*.idx
*.ilg
*.ind
*.xml
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.glsdefs
*.fdb_latexmk
*.cmdshlst
*.mw
*.lof
*.lot
*.listing
*.py
*.tdo
*.code
_minted-main/
*.sublime-workspace
